<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Admiistraci&oacute;n de Pedidos</title>

    <!--/*/ <th:block th:include="fragments/general/head :: head"></th:block> /*/-->
     <script src="../static/js/listaPedidos.js"
            th:src="@{/js/listaPedidos.js}"></script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/general/header :: header"></th:block> /*/-->
    
    <div class="welcome">
        <span sec:authorize="isAuthenticated()">Bienvenido <span sec:authentication="name"></span></span>
    </div>
    
    <div th:if="${not #lists.isEmpty(search.pedidos)}">
        <h2>Administraci&oacute;n de Pedidos</h2>
        <div class="row">
        	<div class="col-lg-4">
		         <form class="form-horizontal" id="frmBuscar" th:object="${search}" th:action="@{'/pedidos/'+${search.viewType}}" method="post">
		         	
		         	<input type="hidden" id="pageNumber" th:field="*{pageNumber}"/>
		         	<input type="hidden" id="newSearch" th:field="*{newSearch}"/>
		         	<input type="hidden" th:field="*{viewType}"/>
		         	
		        	<div class="form-group">
		                <label class="control-label">C&eacute;dula:</label>
		                <input type="text" class="form-control" th:field="*{cedula}"/>
		               
		            </div>  
		            <div class="form-group">
		                <label class="control-label">Nombre:</label>
		                <input type="text" class="form-control" th:field="*{nombrePersona}"/>
		            </div>
		            <div class="form-group">
					    <label for="entregado">Confirmado:</label>
					    <select id="listoParaEntrega" class="form-control"  th:field="*{listoParaEntrega}"
					        name="listoParaEntrega">
					      <option th:each="opt, status : ${boleanos}" th:value="${opt}" 
					       th:text="${opt}" th:selected="${opt} == ${listoParaEntrega}">
					      </option>
					    </select>
					</div>   
		           <div class="form-group">
					    <label for="entregado">Entregado:</label>
					    <select id="entregado" class="form-control"  th:field="*{entregado}"
					        name="entregado">
					      <option th:each="opt, status : ${boleanos}" th:value="${opt}" 
					       th:text="${opt}" th:selected="${opt} == ${entregado}">
					      </option>
					    </select>
					</div>
					 <div class="form-group">
					    <label for="pagado">Pagado:</label>
					    <select id="pagado" class="form-control"  th:field="*{pagado}"
					        name="pagado">
					      <option th:each="opt, status : ${boleanos}" th:value="${opt}" 
					       th:text="${opt}" th:selected="${opt} == ${pagado}">
					      </option>
					    </select>
					</div>
					<div class="form-group">
						<select class="form-control pagination" th:field="*{pageSize}">
							<option th:each="ps : ${pageSizes}" th:text="${ps}" th:value="${ps}" th:selected="${ps} == ${pageSize}"></option>
						</select>
					</div>
					 <div class="row">
		                <button type="button" id="buscar" class="btn btn-default">Buscar</button>
		            </div>
		            <br/><br/>
				 </form>
        	</div>
        </div>
        
        <table class="table table-striped">
            <tr>
                <th>C&eacute;dula</th>
                <th>Nombre</th>
                <th>Tel</th>
                <th>Pagado</th>
                <th>Entregado</th>
                <th>Confirmado</th>
                <th>Fecha Creaci&oacute;n</th>
                <th>Provincia</th>
                <th>Cant&oacute;n</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="pedido : ${search.pedidos}">
                <td th:text="${pedido.cedulaPersona}"></td>
                <td th:text="${pedido.nombrePersona}"></td>
                 <td th:text="${pedido.telefono}"></td>
                <td>
                	<span th:if="${pedido.pagado}==true">Si</span>
                	<span th:if="${pedido.pagado==false and pedido.efectivo==false}">No</span>
                	<span th:if="${pedido.pagado==false and pedido.efectivo==true}">Efectivo</span>
                </td>
                 <td>
                 	<span th:if="${pedido.entregado}==true">Si</span>
               		<span th:if="${pedido.entregado}==false">No</span>
                 </td>
                  <td>
                 	<span th:if="${pedido.listoParaEntrega}==true">Si</span>
               		<span th:if="${pedido.listoParaEntrega}==false">No</span>
                 </td>
                 <td th:text="${#dates.format(pedido.fechaCreacion, 'dd-MM-yyyy')}"></td>
                 <td th:text="${pedido.provincia}"></td>
                 <td th:text="${pedido.canton}"></td>
               	 <td><a th:href="${ '/pedido/' + pedido.id+ '/'+pedido.token}" sec:authorize="hasAnyAuthority('ROL_ADMIN')">Detalles</a></td>
                 <td th:if="${pedido.listoParaEntrega}==false">
                 	
                 	<button  type="button" class="btn btn-info" th:onclick="'confirmar(\'' + ${pedido.id} + '\');'">
                 		<span class="glyphicon glyphicon-ok"></span>
                 	</button>
				    
                 </td>
                 <td th:if="${pedido.pagado}==false and ${pedido.listoParaEntrega}==true and ${pedido.efectivo} ==false">
                	<button type="button" class="btn btn-info" th:onclick="'pagar(\'' + ${pedido.id} + '\');'">
                		<span class="glyphicon glyphicon-usd"></span>
                	</button>
             	 </td>
                <td th:if="${pedido.entregado}==false">
                	<button type="button" class="btn btn-danger" th:onclick="'eliminar(\'' + ${pedido.id} + '\');'">
                		<span class="glyphicon glyphicon-trash"></span>
                	</button>
                </td>
            </tr>
        </table>

		<div class="row" >
			
			<div th:if="${search.pedidos.totalPages > 1}" class="form-group col-md-11 pagination-centered">
				<ul class="pagination">
					<li th:class="${search.pedidos.number == 0} ? disabled">
						<span class="pageLink" onClick="setPaging(1)">&laquo;</span>
					</li>
					<li th:class="${search.pedidos.number == 0} ? disabled">
						<span class="pageLink" th:onclick="'javascript:setPaging('+ ${search.pedidos.number} +');'" >&larr;</span>
					</li>
					<li th:class="${search.pedidos.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(search.pager.startPage, search.pager.endPage)}">
						<span class="pageLink" th:onclick="'javascript:setPaging('+ ${page} +');'"  th:text="${page}"></span>
					</li>
					<li th:class="${search.pedidos.number + 1 == search.pedidos.totalPages} ? disabled">
						<span class="pageLink" th:onclick="'javascript:setPaging('+ ${search.pedidos.number + 2} +');'">&rarr;</span>
					</li>
					<li th:class="${search.pedidos.number + 1 == search.pedidos.totalPages} ? disabled">
						<span class="pageLink" th:onclick="'javascript:setPaging('+ ${search.pedidos.totalPages} +');'"  >&raquo;</span>
					</li>
				</ul>
			</div>
		</div>
    </div>
</div>

</body>
</html>