<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Crear pedido</title>

    <!--/*/ <th:block th:include="fragments/general/head :: head"></th:block> /*/-->
	
	<script src="../static/js/pedido.js" th:src="@{/js/pedido.js}"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
	

	
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/general/header :: header"></th:block> /*/-->
	
	<div class="row">
		<div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		
			<h2 class="text-center pedido-title">Solicitar Pedido</h2>
		    <div>
		        <form class="form-horizontal" th:object="${model}" th:action="@{/pedido/nuevo}" method="post" id="pedido" name="pedido">
		            <input type="hidden" th:field="*{pedido.id}"/>
		            
		            <div class="margin-group">
		                <label class="control-label text-form">Nombre Completo:</label>
		                <div class="">
		                    <input type="text" id="pedido_name" name="name" class="form-control pedido-input" th:field="*{pedido.nombrePersona}"  data-validation="required" data-validation-error-msg="El campo de nombre completo es requerido"/>
		                </div>
		              
		            </div>
	              	<div class="margin-group ">
		                <label class="control-label text-form">C&eacute;dula:</label>
		                <div class="">
		                    <input type="text" class="form-control pedido-input" th:field="*{pedido.cedulaPersona}" data-validation="required" data-validation-error-msg="El campo de c&eacute;dula es requerido"/>
		                </div>
		                 
		            </div>
		            <div class="margin-group ">
		                <label class="control-label text-form">Tel&eacute;fono:</label>
		                <div class="">
		                    <input type="text" class="form-control pedido-input" th:field="*{pedido.telefono}" data-validation="number" data-validation-allowing="float" data-validation-error-msg="El campo de t&eacute;lefono es requerido y solo permite numeros"/>
		                </div>
		                 
		            </div>
	             	<div class="margin-group ">
		                <label class="control-label text-form">Tel&eacute;fono de Oficina:</label>
		                <div class="">
		                    <input type="text" class="form-control pedido-input" th:field="*{pedido.telefonoOficina}" data-validation="number" data-validation-allowing="float" data-validation-error-msg="El campo de t&eacute;lefono de oficina es requerido y solo permite numeros"/>
		                </div>
		                 
		            </div>
	             	<div class=" margin-group">
		                <label class="control-label text-form">Email:</label>
		                <div class="">
		                    <input type="email" id="pedido_email" class="form-control pedido-input" th:field="*{pedido.email}" data-validation="email" data-validation-error-msg="No se ha ingresado un email v&aacute;lido"/>   
		                </div>
		                 
		            </div>
		     
		            
		            <div class=" margin-group">
					    <label for="provincias " class="text-form">Provincia:</label>
					    <select id="provincias" class="form-control pedido-input" name="provincias" th:field="*{pedido.provincia}" data-validation="required" data-validation-error-msg="El campo de provincia es requerido">
					      <option selected="selected" value=""> -- seleccione la provincia -- </option>
					      <option th:each="provincia, status : ${provincias}" th:value="${provincia.id}" 
					       th:text="${provincia.nombre}">
					      </option>
					      
					    </select>
					  	
					</div>
					
					<div class=" margin-group">
					    <label for="cantones" class="text-form">Canton:</label>
					    <select id="cantones" class="form-control pedido-input" data-validation="required" th:field="*{pedido.canton}" data-validation-error-msg="El campo de cant&oacute;n es requerido"
					        name="cantones">
					      <option selected="selected" value=""> -- seleccione el canton -- </option>
					      <option th:each="canton, status : ${cantones}" th:value="${canton.id}" 
					       th:text="${canton.nombre}" >
					      </option>
					    </select>
					    <div class="fechaEntregaContainer">
					    	<p id="fechaEntrega"></p>
					    </div>
					</div>
		            
		            
		            <div class=" margin-group">
					  <label for="comment"  class="text-form">Direcci&oacute;n:</label>
					  <textarea class="form-control pedido-input" rows="3" th:field="*{pedido.disponibilidad}" data-validation="required" data-validation-error-msg="El campo de direccion es requerido"></textarea>
					</div>
		           
		           <div class=" margin-group">
		                <label class="control-label text-form">Tipo de Pago:</label>
							<div class="">
								<label style="margin-right: 25px; margin-top: 10px;" class="text-form"> <input type="radio" name='pago' value='false' th:field="*{pedido.efectivo}" />Dep&oacute;sito/Transferencia:</label>
								<label style="margin-right: 25px; margin-top: 10px;" class="text-form" ><input type="radio" name='pago' value='true' checked="true" th:field="*{pedido.efectivo}"/>Efectivo</label> 
						
							</div>

						</div>
		          <br/>
		          <div class="margin-group">
			           		<h3 class="text-center pedido-title" >Agregar producto</h3>
			          
			           		<div class=" margin-group">
							    <label for="marcas"  class="text-form">Marca:</label>
							    <select id="marcas" class="form-control pedido-input"
							        name="marcas">
							      <option selected="selected" value="" > -- seleccione la marca -- </option>
							      <option th:each="marca, status : ${marcas}" th:value="${marca}" 
							       th:text="${marca}" >
							      </option>
							    </select>
							    <label class="error-label" id="errorMarca" name="errorMarca">La marca es obligatoria</label>
							</div>
							
							<div class="margin-group ">
							    <label for="productos"  class="text-form">Producto:</label>
				                <select id="productos" class="form-control pedido-input"
				                name="productos" >
				                    <option disabled="disabled" selected="selected"  value=""> --seleccione el producto --</option>
				                </select>
				                <label class="error-label" id="errorProducto" name="errorProducto">El producto es obligatorio</label>
							</div>
							
							<div class=" margin-group">
							    <label for="presentacion" class="text-form">Presentaci&oacute;n:</label>
				                <select id="presentacion" class="form-control pedido-input"
				                name="presentacion" >
				                    <option disabled="disabled" selected="selected" value="" > --seleccione la presentacion --</option>
				                </select>
				                <label class="error-label" id="errorPresentacion" name="errorPresentacion">La presentacion es obligatoria</label>
							</div>
							
							<div class=" margin-group" style="margin-top: 15px;">
							    <label for="precio" class="text-form">Precio por unidad:</label>
				               	<span id="precioProducto"></span>
							</div>
							
							<div class=" margin-group">
							    <label for="cantidad" class="text-form">Cantidad:</label>
				                 <input type="number" id="cantidad" class="form-control pedido-input" />
								<label class="error-label" id="errorCantidad" name="errorCantidad">La cantidad es obligatoria</label>
							</div>
							 <br/><br/>
							<div class="margin-group">
								<button id="btnAgregar" type="button" class="btn btn-default btn-pedido">Agregar Producto</button>
							</div>
							
							<input type="hidden" th:field="*{productosList}"/>
							
			           	</div>
		           	<div class="row">
						
						<div class="col-lg-12">
							<div id="tbl-productos">
										
							</div>
						</div>
					</div>
					<div class="">
			            <div id="pedido_submit" class="hidden">
			                <button style="margin-top: 20px;" type="submit" class="btn btn-default btn-pedido">Crear Pedido</button>
			            </div>
		            </div>
		            <br/><br/>
		        </form>
		    </div>
		
		</div>
	</div>
</div>

</body>
</html>