<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Pedido Details</title>

    <!--/*/ <th:block th:include="fragments/general/head :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/general/header :: header"></th:block> /*/-->
	<h2>Su pedido ha sido realizado</h2>
	
    <h2>Información del Pedido</h2>
        <div>
            <form class="form-horizontal">
              
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${pedido.nombrePersona}">pedido</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${pedido.email}"></p>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Entregado:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${pedido.entregado}"></p>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Pagado:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${pedido.pagado}"></p>
                    </div>
                </div>
                <h3>Productos:</h3>
                 <table class="table table-striped">
		            <tr>
		                <th>Producto</th>
		                <th>Presentaci&oacute;n</th>
		                <th>Marca</th>
		                <th>Cantidad</th>
		                <th>Precio</th>
		                <th>Precio Total</th>    
		            </tr>
		            <tr th:each="detalle : ${pedido.detalles}" >
		                <td th:text="${detalle.producto.nombre}"></td>
		                <td th:text="${detalle.producto.presentacion}"></td>
		                <td th:text="${detalle.producto.marca}"></td>
		                <td th:text="${detalle.cantidad}"></td>
		                <td th:text="${detalle.precio}"></td>
		                <td th:text="${detalle.precio*detalle.cantidad}"></td>
		            </tr>
		           
		        </table>
            </form>
    </div>
</div>

</body>
</html>