<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
 
    <title>Spring Framework Guru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="resources/images/iconPerrito.png">
     <!--/*/ <th:block th:include="fragments/general/head :: head"></th:block> /*/-->
    
</head>
<body>
	<div class="container">
	    <!--/*/ <th:block th:include="fragments/general/header :: header"></th:block> /*/-->
	    
	    <div>
	    	<h3>Aca puede hacer un pedido</h3>
	    </div>
	</div>
</body>
</html>